* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.margin-horiz-auto {

  margin-left: auto;
  margin-right: auto;
}

.container {
  color: rgb(80, 133, 33);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  width: 100vw;
  height: 100vh;



  background: #dedede;
}

.sidebar{

  width: 33%;
  height: 100%;
  position: relative;
  right: 360px;

  background: blue;
  border-right: 1px solid black;
}

.input-container {
  padding: 100px 0;
  height: 100%;
}

.input-container > * {

  margin: 0 .5rem;
}

.player-wrapper {

  padding-top: 30px;
}
