* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.margin-horiz-auto {

  margin-left: auto;
  margin-right: auto;
}

.container {
  color: black;
  background-image: url("download.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  width: 100vw;
  height: 100vh;




}

.sidebar{

  width: 33%;
  height: 100%;
  position: relative;
  right: 360px;

  background: rgb(118, 23, 5);
  border-right: 1px solid black;
  display: none;

}
.active{


  display: block;
}

.input-container {
  padding: 30px 75px;
  height: 100%;
}

.input-container > * {

  margin: 0 .5rem;
}

.player-wrapper {

  padding-top: 30px;
  background: white;
  padding: 0 25px;
}
